# Виртуальное окружение
.venv/
venv/
env/
ENV/
.venv

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Файлы конфигурации с паролями
config.py

# Базы данных
*.db
*.sqlite3

# Логи
*.log

# Временные файлы
*.tmp
*.bak